* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Georgia', serif;
    padding-top: 150px;
}


.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.8s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1) rotate(5deg);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 550px;
    margin-top: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(52, 52, 52);
    font-weight: 600;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}


.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #1271EE;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links .active {
    color: #1271EE;
    font-weight: bold;
    text-decoration: none;

}

.nav-links a:hover {
    color: #1271EE;
}

.auth-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-circle {
    width: 40px;
    height: 40px;
    background-color: #1292EE;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}

.icon-circle:hover {
    background-color: #016ab5;
    transform: scale(1.1);
}

.logout-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 6px 18px;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.logout-btn:hover {
    background-color: #cc0000;
    transform: translateY(-2px);
}


/* Payment Container */
/* TITLE */
.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    font-family: Sue Ellen Francisco;
}

.title span {
    color: red;
}

/* FORM SECTION */
.checkout-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 60px;
}

.form-box {
    width: 40%;
}

.form-box h3 {
    margin-bottom: 20px;
}

/* INPUT STYLE */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    background: #ddd;
}

/* ROW INPUT */
.row-input {
    display: flex;
    gap: 20px;
}

/* BUTTON */
.confirm-btn {
    display: block;
    margin: 40px auto;
    padding: 12px 50px;
    background: black;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
}

/* RESPONSIVE */
@media(max-width: 900px) {
    .checkout-container {
        flex-direction: column;
        align-items: center;
    }

    .form-box {
        width: 80%;
    }
}